1. Print cookies and milk are a great dessert.

In [1]:
print("cookies and milk are a great dessert")

cookies and milk are a great dessert

2. Print out your favorite color and above the code comment out what you are doing.

In [2]:
# this is my favorite color.
print("green")

green

3. Print out your favority color again and add an in-line comment.

In [3]:
print("green") #the best green is mint green, turquoise, or cyan

green

4. Print the sumation of numbers 1 to 10

In [4]:
print(1+2+3+4+5+6+7+8+9+10)

55

5. Print what 6 to the 7th power is.

In [5]:
print(6**7)

279936

6. Print the remainder of 100 divided by 11.

In [6]:
numb1 = 100
numb2 = 11
numb1 / numb2

9.090909090909092

7. What is the result of "Python" + "1"

In [7]:
print("Python"+"1")

Python1

8. Print out 100 divided by 5

In [8]:
numb2 = 5
numb1 // numb2

20

9. What is the different between 10/4 and 10//4?  Print out the result

In [9]:
numb1 = 10
numb2 = 4

In [10]:
numb1 / numb2

2.5

In [11]:
numb1 // numb2 #I'm stuck after this step

2

10. Create a variable named foo that stores a string value.

In [12]:
foo = "I like dogs and cats."

11. Print foo variable

In [13]:
print(foo)

I like dogs and cats.

12. Create a variable called height and store your height value there.
Print a sentence describing your height and use the variable in the sentence as well.

In [14]:
height = 177
print("I am", height, "inches tall")

I am 177 inches tall

13. Use the last code, but now print it using a formatted string.

In [18]:
print(f"I am {height} inches tall.")

I am 177 inches tall.

14. Concate two strings together using variables and print out the result

In [19]:
main_course = "medium rare steaks"
beverage = "orange juice"
print("my meal consists of",main_course,"and",beverage)

my meal consists of medium rare steaks and orange juice

15. Use the two different quotes in a string and print out the sentence

In [22]:
print(f"my meal consists of {main_course} and {beverage}")

my meal consists of medium rare steaks and orange juice

16. Print out Hello World! 7 times each on a new line using only one line of code.

In [23]:
print("Hello World \nHello World \nHello World \nHello World \nHello World \nHello World \nHello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

17. What is the result of "apple" > "Apple"

In [24]:
print("apple">"Apple")

True

18. Print out if 25 multiplied by 54 is bigger than 33 multipled by 33

In [25]:
print(25*54 > 33*33)

True

19. What is the result of of 123 == “123”?

In [26]:
123 == "123"

False

20. Print out a boolean table for OR using two variables
(hint: use not operator)

In [27]:
# True OR False
# Yes or No
a = True
b = False
print((69 == 69) or a)

True